.navigation {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.search {
  position: relative;
  bottom: 42rem;
}

.catchphrase {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #3b424a;
  color: white;
  font-family: Josefin Sans, serif !important;
}

h2 {
  font-family: Josefin Sans, serif !important;
  color: #b0a086;
  font-size: 42px;
  text-align: center;
}

.features {
  max-width: 95rem;
}

.row {
  margin-top: 125px;
  margin-bottom: 65px;
}

.contactUs {
  border: solid;
  border-color: white;
  width: 1171px;
}

.contact {
  color: white;
}
